h2 {
    color: blue;

    
}

body {
    font-family: "Courier New", Courier, monospace;
}

body {
    background-color: yellow;
}

ol {
    color:violet;
}
div {
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    box-shadow: 0px 5px 0px blue;
    
    
    background-color: lightgrey;
}

img{
    border: 2px solid black;
    box-shadow: 3px 3px 5px black; 
}