h2 {
    color: blue;
    padding: 5px;
    padding-top: 0px;
    margin: 0px;
    padding-right: 0px;
}

body {
    font-family: "Courier New", Courier, monospace;
}

body {
    background-color: yellow;
}

ol {
    color:violet;
    padding-right: 0px;
}
div {
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    box-shadow: 0px 5px 0px blue;
    margin-bottom: 10px;
    padding-right: 1px;
    padding-left: 1px;
    
    
    
    background-color: lightgrey;
}

img{
    border: 2px solid black;
    box-shadow: 3px 3px 5px black; 
    margin-bottom: 6px;
}

#secretpuzzle{
    color: green
}
#top5movies{
    color:hotpink
}
#top10favoritefoods{
    color:black
}
#statesihavetraveledto{
    color:blueviolet
}
#studentwebsites{
    color:cornflowerblue
}
#colors{
    color:cyan
}
#htmlexperiment{
    color:darkorange
}
#anyquestions{
    color:red
}

.movietitle{
    font-style: italic;
}
.paragraph{
    color:blue;
}
.list{
    font-style: italic;
    color:red;
}
.websites{
    font-size: 18px;
}
.colors{
    font-size: 15px;
}
.experiment{
    color: blueviolet;
}





.questions{
    font-style: oblique;
}